.container {
    min-height: 100vh;
}

.navbar {
    padding: 10px;
    background-color: var(--bs-body-bg);
}

.navbar form {
    width: 100%;
}

.navbar form {
    margin-right: 15px;
}

.contentWrapper {
    padding: 10px;
}