.ingredientRow>* {
    padding: 0 5px;
}

.ingredientRow>*:first-child {
    padding-left: 10px;
}

.ingredientRow>*:last-child {
    padding-right: 10px;
    text-align: center;
}

.ingredientRow>*:last-child>* {
    vertical-align: -webkit-baseline-middle;
    padding: 0;
}

.smallEditor:invalid,
.smallEditor:valid {
    padding-right: 12px !important;
}

.openImage{
    color: var(--bs-link-color);
}